/* CSS Aotearoa */

@import "reset.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    font: 300 100%/1.6 Poppins, Arial, sans-serif;
    background: #F1F1F1F1;
    text-align: center;
    overflow-x: hidden;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.responsive-image {
    width: 100%;
}

/*-------------------- main nav -----------------*/

a[href="#menu"] {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: block;
    background: black;
    color: #F1F1F1F1;
    width: 60px;
    height: 60px;
    font: 400 1.5rem/60px Poppins, Arial, sans-serif;
    text-align: center;
    transition: all 500ms;
}

a[href="#menu"]:hover {
    background: #666;
}

.mainnav {
    position: absolute;
    z-index: 900;
    top: 0;
    right: 0;
}

.links {
    position: absolute;
    top: 0;
    right: -250;
    background: #222;
    width: 250px;
    height: 100vh;
    padding: 100px 10px 10px;
}

.links a {
    display: block;
    background: #030303;
    padding: 1em;
    margin-bottom: .5em;
    color: #F1F1F1F1;
    text-decoration: none;
    transition: all 500ms;
}

.links a:hover {
    background: #666;
}

/*-------------------- main header -----------------*/

.mainheader {
    background: black url(../images/slide01.jpg) center/cover no-repeat;
}

.mainheader .overlay {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F1F1F1F1;
    height: 100vh;
}

.overlay p {
    font: 200 1rem/1.6 Poppins, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .3em;
    border-bottom: 1px solid #F1F1F1F1;
    padding-bottom: 2em;
}

h1 {
    font: 300 3rem/1.6 Poppins, Arial, sans-serif;
    letter-spacing: .2em;
    padding-top: .5em;
}

/*-------------------- section 1 -----------------*/

main section {
    padding: 3em 1.5em;
}

#section-one article {
    background: white;
    margin-bottom: 2em;
}

#section-one article div {
    padding: 2em;
}

#section-one article p:first-of-type,
#section-two p,
#section-three p {
    font: 300 .8rem/1.6 Poppins, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .3em;
    border-bottom: 1px solid #F1F1F1F1;
    padding-bottom: 1.5em;
    margin-bottom: 1em;
}

#section-one article h2,
#section-two h2,
#section-three h2 {
    font: 300 1.8rem/1.6 Poppins, Arial, sans-serif;
    letter-spacing: .1em;
    margin-bottom: 1em;
}

#section-one article p:last-of-type {
    text-align: left;
    margin-bottom: 2em;
}

.leesmeer {
    display: inline-block;
    border: 2px solid #F1F1F1F1;
    padding: .5em 1em;
    border-radius: 2px;
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 500ms;
}

.leesmeer:hover {
    background: #999;
    color: #F1F1F1F1;
}

/*-------------------- section 2 -----------------*/

#section-two {
    background: black url(../images/slide02.jpg) center/cover no-repeat;
    color: #F1F1F1F1;
}

/*-------------------- section 3 -----------------*/

#section-three {
    color: #999;
}

#section-three h2 {
    color: black;
}

.gallery img {
    margin: .7em 0;
    background: white;
    padding: 1em;
}

/*-------------------- footer -----------------*/

.mainfooter {
    background: #030303;
    color: #999;
    padding: 3em 2em;
}

.socialicons li {
    display: inline;
    font-size: 2rem;
    padding: 0 .3em .3em;
}

.socialicons a {
    color: #999;
    text-decoration: none;
    transition: all 500ms;
}

.socialicons a:hover {
    color: whitesmoke;
}

.copyright {
    padding-top: 2em;
}

/*---------------- breakpoints --------------*/

@media screen and (min-width: 600px) {
    h1 {
        font-size: 5rem;
        padding-top: 0;
    }

    #section-one,
    .gallery {
        display: grid;
        grid-template: auto / 1fr 1fr;
        grid-gap: 2em;
    }
}

/*----------- breakpoints voor iphone ----------*/

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {

    .mainheader,
    #section-two {
        background-size: none;
        background-attachment: scroll;
    }
}